<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matcher</title>
    <style>
    body {background-color: paleturquoise;}
    </style>
</head>
<body>
    <h2> Regular Expressions</h2><br>
    <form action=" " method="post">
        <label for="pattern">Regular Expression:</label>
        <input type="textbox" name="pattern" placeholder="Type your regex here"><br><br>
        <label for="text">Test String:</label>
        <input type="textbox" name="text" placeholder="Type your test string "><br><br>
        <input type="submit" value="Match">
        <input type="reset" value="Refresh">
    </form>
    <br>
    {% if matches %}
    <h3>Regular Expression : {{pattern}}</h3>
    <h3>Test String: {{text}}</h3>
    <h3>Matches:</h3>
    <ol>
        Number of Matches found : {{count}}<br>
        {% for match in matches %}
        <li>{{match}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Matches Found.</p>
    {% endif %}
</body>
</html>